@import "tailwindcss";


body {
    background-color: #161616;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.mask-gradient-top {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), transparent);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.765), transparent);
}

@keyframes swiper {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.swipe {
    animation: swiper 250s linear infinite;
}
